/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 10px;
    padding-bottom: 8px;
}
/* Home section */
#home{
    height: 370px; 
    padding: 5px 30px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 15px;
}

/* Services section  */
#services{
    flex-direction: column;
}

#services .box { 
    padding: 15px;
    margin: 5px 0px; 
    margin-bottom: 20px;
}

/* Clients section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 65px;
    padding: 5px;
    height: auto;
}

/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:25px;
}
.btn{
    font-size: 15px;
    padding: 5px 10px;
}